# HELTEC WiFi LoRa 32 (V4) board configuration
#
# SPDX-License-Identifier: Apache-2.0

config BOARD_HELTEC_WIFI_LORA32_V4
	# V4 (4.2 / 4.3) = ESP32-S3 WROOM with 16MB flash + 2MB QSPI PSRAM.
	select SOC_ESP32S3_WROOM_N16R2
	select SOC_ESP32S3_PROCPU if BOARD_HELTEC_WIFI_LORA32_V4_ESP32S3_PROCPU
	select SOC_ESP32S3_APPCPU if BOARD_HELTEC_WIFI_LORA32_V4_ESP32S3_APPCPU
