# HELTEC WiFi LoRa 32 (V4 R8) board configuration
#
# SPDX-License-Identifier: Apache-2.0

config BOARD_HELTEC_WIFI_LORA32_V4_R8
	# 16MB flash + 8MB octal PSRAM.
	select SOC_ESP32S3_WROOM_N16R8
	select SOC_ESP32S3_PROCPU if BOARD_HELTEC_WIFI_LORA32_V4_R8_ESP32S3_PROCPU
	select SOC_ESP32S3_APPCPU if BOARD_HELTEC_WIFI_LORA32_V4_R8_ESP32S3_APPCPU
